@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
}
.body-login{
  background: #2B4051;
}
.body-form{
  background: white;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #00B1FF;
}

.login-header {
  background: #00B1FF;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #00B1FF;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.content {
  width: 1000px;
  margin: 0 auto;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #666666;
}

.read .create-contact {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 15px 0;
}
.read .create-contact:hover {
  background-color: #32a367;
}
.read .find {
  float: right;
  clear: both;
  padding: 10px;
  width: 200px;
  margin-right: 25px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}
.read .find-med {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 15px 0;
}


.read .pagination {
  display: flex;
  justify-content: flex-end;
}
.read .pagination a {
  display: flex;
  text-decoration: none;
  background-color: #a5a7a9;
  font-weight: bold;
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 15px 0 15px 5px;
}
.read .pagination a:hover {
  background-color: #999b9d;
}
.read table {
  width: 100%;
  padding-top: 30px;
  border-collapse: collapse;
}
.read table thead {
  background-color: #ebeef1;
  border-bottom: 1px solid #d3dae0;
}
.read table thead td {
  padding: 10px;
  font-weight: bold;
  color: #767779;
  font-size: 14px;
}
.read table tbody tr {
  border-bottom: 1px solid #d3dae0;
}
.read table tbody tr:nth-child(even) {
  background-color: #fbfcfc;
}
.read table tbody tr:hover {
  background-color: #376ab7;
}
.read table tbody tr:hover td {
  color: #FFFFFF;
}
.read table tbody tr:hover td:nth-child(1) {
  color: #FFFFFF;
}
.read table tbody tr td {
  padding: 10px;
}
.read table tbody tr td:nth-child(1) {
  color: #a5a7a9;
}
.read table tbody tr td.actions {
  padding: 8px;
  text-align: right;
}
.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
  display: inline-flex;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 12px;
}
.read table tbody tr td.actions .trash {
  background-color: #b73737;
}
.read table tbody tr td.actions .trash:hover {
  background-color: #a33131;
}
.read table tbody tr td.actions .edit {
  background-color: #37afb7;
}
.read table tbody tr td.actions .edit:hover {
  background-color: #319ca3;
}
.update form {
  padding: 15px 0;
  display: flex;
  flex-flow: nowrap;
}
.update form label {
  display: inline-flex;
  width: 400px;
  padding: 10px 0;
  margin-right: 25px;
}
.update form input {
  padding: 10px;
  width: 400px;
  margin-right: 25px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}
.update form input[type="submit"] {
  display: block;
  background-color: #38b673;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  width: 200px;
  margin-top: 15px;
}
.update form input[type="submit"]:hover {
  background-color: #32a367;
}
.go-back{
  display: block;
  background-color: #b63838;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  width: 200px;
  margin-top: 15px;
}
.go-back:hover {
  background-color: #a33232;
}
.delete .yesno {
  display: flex;
}
.delete .yesno a {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
  background-color: #32a367;
}